[Unit]
Description=Rest API for XMC1
After=network-online.target

[Service]
Environment="ROCKET_PORT=8000" "ROCKET_ADDRESS=0.0.0.0"
ExecStart=/usr/bin/xmc1RestApi/xmc1_rest_api
WorkingDirectory=/usr/bin/xmc1RestApi/
StandardOutput=file:/tmp/xmc.log
StandardError=file:/tmp/xmc.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target